@use "colors" as *;

.heading {
	background-image: url("../assets/locations/locations-heading-background.jpg");
	background-size: cover;
	background-position: center;
	color: $snow;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 80px 0;
	margin-bottom: 72px;
}

.hero {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	gap: 120px;

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 32px;
	}

	&-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 32px;
	}
}

.values {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 64px;
	padding: 0 32px;
	color: $dark-navy;
	margin-bottom: 128px;

	&-content {
		display: flex;
		flex-direction: column;
		gap: 56px;
	}

	&-content-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

.faq {
	color: $dark-navy;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 32px 120px 32px;

	&-content-item-head {
		display: flex;
		gap: 16px;
		justify-content: center;
		padding: 16px;
	}
	&-toggle-button {
		background: none;
		border: none;
		padding: 8px;
		font-size: 16px;
		min-height: 16px;
		min-width: 16px;
		cursor: pointer;
	}

	&-title {
		margin-bottom: 32px;
	}

	.d-none {
		display: none;
	}

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		width: 100%;
	}

	&-content-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 16px;
		background-color: $snow;
		width: 100%;
		min-height: 112px;
	}

	&-content-item-title{ 
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.803571px;
		color: $dark-navy;
	}
}

.faq-answer {
	margin: 0 32px 32px 32px;
	text-align: left;

	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;

	color: #495567;
}
