@use "./colors" as *;

/* The header */


.header-nav  {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	position: fixed;
	z-index: 2;
}

.header-nav-bar {
	display: flex;
	width: 100%;
	align-items: center;
	margin: 24px 0;

	&-logo {
		margin: auto;
	}

	&-button {
		padding-left: 32px;
	}
}

/* The sidepanel menu */
.header-sidepanel {
	transition: 0.5s;
	position: relative;
	width: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 60px;
	background-color: $dark-navy;
	display: flex;
	flex-direction: column;
	flex: 1;


	&-link {
		color: $snow;
		text-decoration: none;
		font-family: "Space Mono";
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		margin: 12px 32px;
	}

	&-button { 
		margin: auto 32px 24px 32px; 
	}




}

.visually-shown {
	width: 250px;
}

.toggle-btn {
	font-size: 20px;
	cursor: pointer;
	border: none;
	background-color: transparent;
	color: $yellow;
}
